<%include header%>
<div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                远程监控
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">视频列表</a></li>
                <li id="title" class="am-active">视频</li>
            </ol>
            <div class="tpl-portlet-components">

                <div class="tpl-block">
                    <div class="am-u-md-6 am-u-sm-12 row-mb">
                        <div class="tpl-portlet">
                            <div class="tpl-portlet-title">
                                <div class="tpl-caption font-green ">
                                    <span>视频区域</span>
                                </div>

                            </div>

                            <div class="am-tabs tpl-index-tabs" data-am-tabs>
                                <ul class="am-tabs-nav am-nav am-nav-tabs">
                                    <li class="am-active"><a href="#tab1">试验大棚</a></li>
                                    <li><a href="#tab2">草莓大棚</a></li>
                                    <li><a href="#tab3">蔬菜大棚</a></li>
                                </ul>

                                <div class="am-tabs-bd">
                                    <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                                        <div id="wrapperA" class="wrapper">
                                            <div id="scroller" class="scroller">
                                                <ul class="tpl-task-list tpl-task-remind">
                                                  <% for(var i=0; i<data.length; i++) {%>
                                                       <%if(data[i].get('tab')==1){%>
                                                  <li>
                                                      <div class="cosA">
                                                            <span class="cosIco">
                                                              <i class="am-icon-video-camera"></i>
                                                            </span>
                                                            <%= data[i].get('name') %>
                                                            <%if(data[i].get('status')==1){%>
                                                            <span class="video-status font-green">在线<%}else{%>
                                                            <span class="video-status font-red">离线<%}%>
                                                            </span>
                                                            <span onclick="play('<%= data[i].get('liveAddress') %>')" data-am-modal="{target: '#video-modal',width: 800, height: 510}" style="float:right" class="tpl-label-info"> 点击播放
                                                                <i class="am-icon-play-circle"></i>
                                                            </span>
                                                        </div>
                                                  </li>
                                                  <% } }%>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="am-tab-panel am-fade" id="tab2">
                                        <div id="wrapperB" class="wrapper">
                                            <div id="scroller" class="scroller">
                                                <ul class="tpl-task-list tpl-task-remind">
                                                    <% for(var i=0; i<data.length; i++) {%>
                                                         <%if(data[i].get('tab')==2){%>
                                                    <li>
                                                        <div class="cosA">
                                                              <span class="cosIco">
                                                                <i class="am-icon-video-camera"></i>
                                                              </span>
                                                              <%= data[i].get('name') %>
                                                              <%if(data[i].get('status')==1){%>
                                                              <span class="video-status font-green">在线<%}else{%>
                                                              <span class="video-status font-red">离线<%}%>
                                                              </span>
                                                              <span onclick="play('<%= data[i].get('liveAddress') %>')" data-am-modal="{target: '#video-modal',width: 800, height: 510}" style="float:right" class="tpl-label-info"> 点击播放
                                                                  <i class="am-icon-play-circle"></i>
                                                              </span>
                                                          </div>
                                                    </li>
                                                    <% } }%>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="am-tab-panel am-fade" id="tab3">
                                        <div id="wrapperC" class="wrapper">
                                            <div id="scroller" class="scroller">
                                                <ul class="tpl-task-list tpl-task-remind">
                                                    <% for(var i=0; i<data.length; i++) {%>
                                                         <%if(data[i].get('tab')==3){%>
                                                    <li>
                                                        <div class="cosA">
                                                              <span class="cosIco">
                                                                <i class="am-icon-video-camera"></i>
                                                              </span>
                                                              <%= data[i].get('name') %>
                                                              <%if(data[i].get('status')==1){%>
                                                              <span class="video-status font-green">在线<%}else{%>
                                                              <span class="video-status font-red">离线<%}%>
                                                              </span>
                                                              <span onclick="play('<%= data[i].get('liveAddress') %>')" data-am-modal="{target: '#video-modal',width: 800, height: 510}" style="float:right" class="tpl-label-info"> 点击播放
                                                                  <i class="am-icon-play-circle"></i>
                                                              </span>
                                                          </div>
                                                    </li>
                                                    <% } }%>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
</div>
<div class="am-modal am-modal-no-btn" tabindex="-1" id="video-modal">
  <div class="am-modal-dialog">
    <div class="am-modal-hd"><span id="modal-title" ></span>
      <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
    </div>
    <div id="videoPlay" class="am-modal-bd" style="width: 800px;height: 500px;">
    </div>
  </div>
</div>
<div class="tpl-alert"></div>
</div>

</div>

</div>



    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/amazeui.min.js"></script>
    <script src="../assets/js/app.js"></script>
    <script src="../ckplayer/ckplayer.js"></script>
    <script>
        function play(url){
            var flashvars;
            flashvars={
                f: '../ckplayer/m3u8.swf',
                a: url, //此处填写购买获取到的视频播放地址
                c: 0,
                p: 1,
                s: 4,
                lv: 1
            };
            var params = {bgcolor: '#FFF', allowFullScreen: true, allowScriptAccess: 'always', wmode: 'transparent'};
            CKobject.embedSWF("../ckplayer/ckplayer.swf", "videoPlay", "video", "100%", "100%", flashvars, params);
        }
    </script>
</body>

</html>
